h1[class='tunga']{
    text-align: center;
    vertical-align: middle;
    line-height: 90px;  
    padding-top: 20%;
    font-size: 200px;
    color: bisque;
}

nav {
    background-color:#817cca;
}

